#map
{
    height: 100%;
}

#map .leaflet-tooltip
{
    font-family: "DejaVu Sans", Verdana, sans-serif;
}

#map .leaflet-tile
{
    filter: saturate(0.5) !important;
}

#map .leaflet-control-share
{
    width: 44px;
    height: 44px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 22px;
}

.leaflet-top .leaflet-left {
    display: inline-block;
    float: none;
}

#map.dark .leaflet-layer,
#map.dark .leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
